<!-- changes will not be reflected here unless you clear your
browser cache: chrome://settings/
-->


<div ng-controller="ContribListCtrl">
    <div>
        <h2>Project X Contributors ({{contributors.data.length}})</h2>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error}}
        </div>
        <ul class="contributors">
            <li class="contributor" ng-repeat="contributor in contributors.data">

                <a class="avatar" ng-href="#/github/{{contributor.login}}/"
                        title="{{contributor.login}} has {{contributor.contributions}} Contributions">
                    <img alt="{{contributor.login}}'s avatar" ng-src="{{contributor.avatar_url}}" />
                    <span class="contributor-name">{{contributor.login}}</span>
                    <span class="contributor-contributions">{{contributor.contributions}}</span>
                </a>
            </li>
        </ul>
        <h2>Real contribs</h2>
        <pre>{{realContribs | json}}</pre>
    </div>
</div>
